.about {
  display: flex;
  flex-direction: column;

  &__imgs {
    display: flex;
    margin-bottom: 4rem;

    img {
      max-width: 100%;
      height: auto;
    }
  }

  &__img-1 {
    transform: translateY(2.5rem);
  }

  &__text {
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    line-height: 2;
    margin-bottom: 2rem;
    order: 1;

    br {
      display: none;
    }
  }

  .btn {
    order: 1;
  }
}

@media screen and (min-width: 768px) {
  .about {
    margin: 0 0 5rem;
    max-width: none;
    flex-wrap: wrap;
    height: 35rem;
    padding: 0;

    .section__title {
      width: 50%;
      padding-left: 2rem;
      padding-bottom: 3rem;
    }

    &__text {
      order: 0;
      width: 50%;
      font-size: 1.75rem;
      padding: 0 2rem;

      br {
        display: inline;
      }
    }

    .btn {
      order: 0;
      margin: 2rem;
    }

    &__imgs {
      width: 50%;
    }
  }
}
