.about {
  // padding: 2rem;

  // &__title {
  //   font-size: 1.2rem;
  //   letter-spacing: 0.2rem;
  //   line-height: 2;

  //   &::after {
  //     content: '';
  //     display: block;
  //     background-image: url('../images/sectionlabel_line.jpg');
  //     background-repeat: no-repeat;
  //     background-position: center;
  //     background-size: cover;
  //     width: 38px;
  //     height: 3px;
  //   }
  // }

  &__imgs {
    display: flex;
    margin-bottom: 4rem;

    img {
      max-width: 100%;
      height: auto;
    }
  }

  &__img-1 {
    transform: translateY(2.5rem);
  }

  &__text {
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    line-height: 2;
    margin-bottom: 2rem;
  }
}
