$font-jp: harenosora, serif;

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 12rem;
  margin: auto;
  padding: 0 1.5rem;
  color: #000000;
  font-size: 0.75rem;
  font-family: $font-jp;
  letter-spacing: 0.1rem;
  line-height: 2.5rem;
  border: 1px solid rgba(#000000, 0.25);
  border-radius: 1.5rem;

  &::after {
    content: '';
    display: inline-block;
    background-image: url('../images/arrow_bk.svg');
    background-repeat: no-repeat;
    background-size: 110px 10px;
    background-position: 100% 100%;
    width: 2rem;
    height: 5px;
    margin-bottom: 0.25rem;
  }
}
