.journal {
  width: 100%;
  position: relative;
  margin-bottom: 4rem;

  &__items {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-top: 2rem;

    &::before {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 83%;
      left: 0;
      top: 14rem;
      background-color: #f2f2f2;
      z-index: -1;
    }
  }

  &-item {
    flex-basis: 50%;
    margin-bottom: 1.5rem;
    text-align: center;

    &__picture {
      max-width: 100%;
      height: auto;
      margin-bottom: 1rem;
    }

    &:nth-child(even) {
      margin-top: 2.75rem;
    }

    &__date {
      font-size: 0.75rem;
      color: #808080;
      margin-bottom: 0.5rem;
      letter-spacing: 0.1rem;
    }

    &__tag {
      display: inline-block;
      font-size: 0.75rem;
      font-family: $font-jp;
      border: 1px solid rgba(#000000, 0.25);
      padding: 0.25rem 0.75rem;
      margin-bottom: 1rem;
    }

    &__title {
      font-family: $font-jp;
      font-size: 0.875rem;
      letter-spacing: 0.1rem;
      line-height: 1.6;
      text-align: left;
      padding: 0 0.5rem;
    }
  }

  .btn {
    margin-top: 0.75rem;
  }
}
