header {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: flex-end;
}

.container {
  padding: 2rem;
  max-width: 34rem;
  margin-left: auto;
  margin-right: auto;
}

.section {
  &__title {
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
    line-height: 2;

    &::after {
      content: '';
      display: block;
      background-image: url('../images/sectionlabel_line.jpg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      width: 38px;
      height: 3px;
    }
  }
}

@media screen and (min-width: 768px) {
  .section {
    &__title {
      font-size: 1.5rem;
      letter-spacing: 0.3rem;

      &::after {
        width: 52px;
        height: 4px;
      }
    }
  }

  .container {
    max-width: none;
    margin: 0 auto;
  }
}
